@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

* {
  box-sizing: border-box;
  font-family: 'ZenKakuGothicNew', 'Roboto', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

.backgroundAbstract {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-wrapper {
  display: flex;
  width: 85%;
  max-width: 600px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.left {
  margin-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-right: 1rem;
  max-width: 70%;
}

.card {
  flex: 1;
  max-width: 450px;
  min-height: 655px;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}

.divider span {
  color: #333;
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;

  a {
    font-weight: bold;
    color: #333;
    font-size: 14px;
  }

  span {
    font-size: 14px;
    color: #333;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.carousel-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  max-width: 400px;
}

.carousel-part h1 {
  font-size: 2rem;
  font-weight: 700;
}

.carousel-text .carousel-item {
  display: flex;
  justify-content: start;
  align-items: start;
  height: auto;
}

.carousel-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  text-align: center;
  display: block;
}

.logo {
  width: 300px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 5%;
  img {
    height: 50px;
  }
}

.carousel {
  height: 207px;
}

.carousel-item p {
  font-size: 22px;
  padding-top : 8%;
  width: 90%;
}

.input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-container input {
  padding: 1rem;
  padding-top: 2rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  height: 40px;
}

.input-container label {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  font-size: 1rem;
  color: #666;
  background-color: white;
  padding: 0 0.25rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
  top: -0.5rem;
  left: 0.75rem;
  font-size: 0.8rem;
  color: #383838;
}

.input-container :hover {
  border-color: #000000;
}

.input-icon {
  position: relative;
}

.input-icon .material-symbols-outlined {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #555;
  user-select: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  user-select: none;
}

/* Esconde o checkbox real */
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Caixa customizada */
.checkmark {
  width: 18px;
  height: 18px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  transition: all 0.2s ease;
}

/* Marca de check */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid #999;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Quando o checkbox está checado */
.checkbox-container input:checked+.checkmark::after {
  display: block;
}

.main-title {
  font-size: 64px;
  font-weight: 900;
  color: rgb(48, 48, 48);
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.menuposition {
  position: absolute;
  top: 0%;
  left: 83%;
  display: flex;
  flex-direction: row;
}

.limenu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.menu_2 {
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 0px;
  list-style: none;
  padding: 20px 10px;
  background-color: #696cffb4;
  color: #0f0247;
  display: none;
  position: absolute;
  align-items: center;
  width: 130px;
}

.limenu:hover .menu_2,
.menu_2:hover {
  display: block;
}

.menu_2 li {
  padding: 10px;
}

li:hover {
  background-color: none;
  color: rgb(255, 255, 255);
  transition-duration: 0.5s;
  cursor: grab;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  padding-top: 3rem;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 30px;
  font-family: 'Montserrat', sans-serif;
  width: 70%;
}

span {
  font-size: 12px;
}


a {
  color: #242424;
  font-size: 14px;
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
}

button {
  margin-top: 1rem;
}


.stylist {
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.stylist:active,
.stylist:hover {
  outline: none;
  background: linear-gradient(to right, #74159f, #004aad);
  border-color: transparent;
  color: white;
}

.stylist.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input.form-control {
  background-color: #f1f1f1;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 770px;
  max-width: 100%;
  min-height: 480px;
  display: flex;
  align-items: center;
  /* margin-top: 90px; */
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: linear-gradient(to right, #74159f, #004aad);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.container.right-panel-active .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}