@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

* {
    box-sizing: border-box;
    font-family: 'ZenKakuGothicNew', 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 86vw;
}

.card-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.card-table thead th {
  background-color: #f1f5f9;
  color: #475569;
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 1rem;
  text-align: left;
}

.card-table tbody tr {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.75rem;
}

.card-table tbody td,
.card-table tbody th {
  border: none;
  padding: 1rem;
  font-size: 13px;
  text-align: left;
}

.card-table tbody tr td:first-child {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.card-table tbody tr td:last-child {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.card-table tbody tr:hover {
  background-color: #f8fafc;
  transition: 0.2s;
}


th {
    cursor: pointer;
    user-select: none;
}

.search-bar {
    width: 300px;
    border-radius: 50px;
    border: 1px solid #ced4da;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.search-bar:focus {
    outline: none;
    border-color: #0d6efd;
    box-shadow: 0 0 6px rgba(13, 110, 253, 0.5);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #1A2A80;
    transition: all 0.3s ease;
    font-weight: 500;
}

.tags span:hover {
    background-color: #E6E9F8;
}

.tags span.active {
    background-color: #1A2A80;
    color: white;
    border-color: #1A2A80;
}

/* 
th i {
    margin-left: 4px;
    font-size: 0.9rem;
    color: #6c757d;
    transition: transform 0.2s, color 0.2s;
}

th.active i {
    color: #000;
} */

.add-text-icon {
    padding-top: 3%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
    font-size: 14px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
}

.divider:not(:empty)::before {
    margin-right: 0.75em;
}

.divider:not(:empty)::after {
    margin-left: 0.75em;
}

.divider span {
    color: #333;
}

.upload {
    display: flex;
    flex-direction: column;
}

.upload:active {
    background-color: #A5BFCC;

    span {
        color: black;
        font-weight: 200;
    }

    .divider::before,
    .divider::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid white;
    }

    .divider span {
        color: white;
    }

    .btn-upload {
        background-color: white;
    }
}

.dropzone {
    border: 2px dashed #1A2A80;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    color: #666;
    font-family: sans-serif;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.dropzone.dragover {
    background: #f3f0ff;
    border-color: #7d5fff;
    color: #333;
}

.file-list {
    margin-top: 15px;
    font-size: 14px;
}

.box-upload {
    background-color: white;
    margin-right: 120px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    height: 500px;
    border-radius: 22px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.pontilhado {
    margin-top: 20px;
}

.suportados {
    margin-top: 2%;
    color: #5e5959;
}

.btn-action {
    color: #7C2DB9;
    border: 2px solid #7C2DB9;
    background-color: transparent;
    border-radius: 8px;
    font-weight: 500;
    padding: 10px 24px;
    transition: all 0.2s ease-in-out;
}

.btn-action:hover {
    background-color: #531d7c;
    color: #fff;
}

.btn-action:active,
.btn-action:focus {
    background-color: #7C2DB9;
    color: #fff;
    border-color: #7C2DB9;
}

.btn-upload {
    background-color: transparent;
    color: #7C2DB9;
    border: 2px solid #7C2DB9;
    border-radius: 8px;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.2s ease-in-out;
}

.all-content {
    transition: width 0.3s, padding 0.3s, margin-left 0.3s;
    width: calc(100% - 240px);
    padding: 0 60px;
    margin-top: 20px;
    box-sizing: border-box;
}

body.sidebar-collapsed .all-content {
    width: calc(100% - 60px);
    padding: 0 30px;
}

#qtdItens {
    font-weight: 400;
    cursor: text;
    color: black;
    background-color: #F1F5F8;
}


.btn-upload:active,
.btn-upload:focus {
    background-color: #7C2DB9;
    color: #fff;
    border-color: #7C2DB9;
}

.btn-upload:hover {
    background-color: #531d7c;
    color: #fff;
}

.icon-btn {
    height: 28px;
    width: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.acesso {
    gap: 30rem;
}

body.sidebar-collapsed .acesso {
    gap: 36rem;
}

.fornecedor-icon {
    margin-left: calc(30vw - 440px)
}

body.sidebar-collapsed .fornecedor-icon {
    margin-left: calc(30vw - 450px)
}

.atividade-container {
    background-color: #f5f8fc;
    padding: 20px;
    border-radius: 8px;
}


.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.custom-table thead th {
  background-color: #f1f5f9;
  color: #475569;
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 1rem;
}

.custom-table tbody tr {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.75rem;
}

.custom-table tbody td,
.custom-table tbody th {
  border: none;
  padding: 1rem;
  /* vertical-align: middle; */
  font-size: 13px;
}

.custom-table tbody tr td:first-child {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.custom-table tbody tr td:last-child {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.custom-table thead th {
  border-bottom: none;
}

.custom-table tbody tr:hover {
  background-color: #f8fafc;
  transition: 0.2s;
}

.atividade-title {
    font-size: 18px;
    font-weight: 600;
    color: #1A2A80;
    margin-bottom: 15px;
}

.comment-add {
    display: flex;
    justify-content: space-evenly;
    gap: 22px;
    height: 50px;
}

.comment-textarea {
    width: 100%;
    height: 90px;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    padding: 10px;
    resize: none;
    font-size: 14px;
}

.btn-post {
    width: 130px;
    padding: 10px 16px;
    background-color: #1A2A80;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-post:hover {
    background-color: #16246E;
}

.comments-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.comment-item {
    background-color: white;
    border-radius: 6px;
    padding: 10px 12px;
    border: 1px solid #E5E7EB;
}

.comment-author {
    font-weight: 600;
    margin-bottom: 4px;
}

.comment-time {
    font-size: 12px;
    color: #636363;
}

@media (min-width: 1600px) {
    .acesso {
        gap: 38rem;
    }

    body.sidebar-collapsed .acesso {
        gap: 70rem;
    }

    .fornecedor-icon {
        margin-left: calc(30vw - 300px)
    }

    body.sidebar-collapsed .fornecedor-icon {
        margin-left: calc(30vw - 640px)
    }
}

.file-list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    position: relative;
}

.file-item img {
    width: 65px;
    height: 65px;
    object-fit: contain;
}

.file-item span {
    font-size: 12px;
    margin-top: 6px;
    color: #444;
    text-align: center;
}

.remove-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ff4444;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}